.pytest_cache/
.artifacts/
_*_pycache__/
*.pyc
.env
.gitkeep
data/postgres/*
tests/__pycache__/
src/streaming/__pycache__/
tests/__pycache__/
data/._postgres/
data/postgres/
data/postgres/._postgres/
docs/.*
*.pyc
src/rag/__pycache__/
src/api/__pycache__/
src/__pycache__/